.month-table {
  width: 100%;
  height: 100%;
  border: 0px solid black;
  border-collapse: collapse;
  font-size: 88%;
}

.month-header-row {
  height: 0px;
  padding: 0px;
}

.month-header {
  width: 14.28%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 
  border: 0px;
  border-top: 0px; # To get rid of some bootstrap styling.
  padding: 0px;
}

#cal-title {
  margin-left: 20px;
}

#top-header {
  margin-bottom: 20px;
}

.venue-name {
  margin-bottom: 5px;
  font-size: 123%; 
}

.event-date {
  color: #666;
}

.monthrow {
  height: 60px;
}

.month-day {
  border: 1px solid black;
  vertical-align: top;
  text-align: left;
}

.prev-month-date {
  color: #888;
  font-family: Helvetica, Arial, sans-serif;
}

.current-month-date {
  font-family: Helvetica, Arial, sans-serif;

}

.spinner {
  margin: 0px auto;
  display: block;
}

.event {
    margin: 0px;
    padding: 0px;
}